@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 1rem;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2.5rem;
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #AD4772;
  height: 10.6vh;
}

.navbar-sticky {
  background: #AD4772;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 1px #AD4772;
  animation: moveDown 0.5s ease-in-out;
}

.navbar--logo-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar--logo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  animation: rotate 0.7s ease-in-out 0.5s;
}

.navbar--link {
  display: flex;
  width: 80%;
  list-style: none;
  padding: 10px;
  margin: 10px;
}

.navbar--link-item {
  position: relative;
  margin: 0.0rem 0rem 0 0;
  padding: 0 0.3rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
  left: 20%;
  top: 10%;
}
a{
  width: 10px;
  height: auto;
  top: 50px;
  color:#ffffff;
  font-weight: bold;
  text-decoration: none;
 margin: 10px;
 bottom: 0;
}

/* Welcome */
.welcome {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.welcome--logo {
  width: 10rem;
}
.welcome--about {
  padding: 2rem;
  width: 50rem;
  color: #444;
  text-align: justify;
  margin: auto;
}

@keyframes moveDown { 
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}


@keyframes rotate {
  0% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0rem);
  }
}
